.search-input {
  border-radius: 0.25rem;
  padding: 0.5rem;
  background-color: white;
  color: black;
  width: 100%;
  transition: border-color 0.3s;
}

.search-button {
  width: 100px;
  background-color: #ffffff;
}

.search-button:hover {
  background-color: #fff;
}

.search-icon {
  color: rgb(38, 116, 175);
}
