.login-page {
  background: linear-gradient(to bottom, #6ab2d8, #2980b9);
  height: 100vh;
  display: flex;
  justify-content: center; /* Horizontally center the container */
  align-items: center;
}

@media (min-width: 768px) {
  /* Apply margin on tablet and larger screens */
  .container {
    margin-top: 150px; /* Add the desired margin-top value */
  }
}
.card {
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 2rem 2rem 0 2rem;
}

.card-title-large {
  font-size: 2rem;
}

.card-footer {
  background-color: transparent;
  border-top: none;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Add this line to enable wrapping */
}

.text-center {
  text-align: center;
  color: #154360; /* Updated text color */
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-label {
  font-weight: 500;
  color: #154360; /* Updated text color */
}

.form-control {
  border: 1px solid #154360; /* Updated border color */
  border-radius: 0.25rem;
  padding: 0.5rem;
  background-color: rgba(21, 67, 96, 0.1); /* Updated background color */
  color: #154360; /* Updated text color */
  width: 100%;
  transition: border-color 0.3s;
}

.form-control:focus {
  border-color: #0b2a3d; /* Updated focus border color */
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(11, 42, 61, 0.25); /* Updated focus box shadow */
}

.btn-primary {
  background-color: #154360; /* Updated button background color */
  border: none;
  color: #fff; /* Button text color */
}

.btn-primary:hover {
  background-color: #0b2a3d; /* Updated hover background color */
}

.nav-link {
  color: #154360; /* Updated link color */
  text-decoration: none;
  padding: 0;
}

.nav-link:hover {
  color: #0b2a3d; /* Updated hover link color */
}

@media (min-width: 576px) {
  .login-page {
    align-items: flex-start;
    padding-top: 3rem;
  }
}

/* ******************** */

.forgot-password {
  padding-left: 0;
  padding-top: 0.7rem;
}
