.login-page {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 2rem 2rem 0 2rem;
}

.card-title-large {
  font-size: 2rem;
}

.card-footer {
  background-color: transparent;
  border-top: none;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
  color: #154360;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-label {
  font-weight: 500;
  color: #154360;
}

.form-control {
  border: 1px solid #154360;
  border-radius: 0.25rem;
  padding: 0.5rem;
  background-color: rgba(21, 67, 96, 0.1);
  color: #154360;
  width: 100%;
  transition: border-color 0.3s;
}

.form-control:focus {
  border-color: #0b2a3d;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(11, 42, 61, 0.25);
}

.remember-me,
.sign-up-text {
  color: #154360;
}

.btn-primary {
  background-color: #154360;
  border: none;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0b2a3d;
}

.nav-link {
  color: #154360;
  text-decoration: none;
  padding: 0;
  font-weight: 500;
}

.nav-link:hover {
  color: #0b2a3d;
}

@media (min-width: 576px) {
  .login-page {
    align-items: flex-start;
    padding-top: 3rem;
  }
}
