.container {
  max-width: 960px;
  margin: 0 auto;
}

.contact-form-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  background-color: rgb(214 220 223 / 10%);
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
}

.form-select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

textarea.form-control {
  resize: vertical;
}

.btn-primary {
  background-color: #154360;
  border: none;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0b2a3d;
}

.info-container {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.myCard {
  padding: 2rem;
}

.contactSupportSection {
  align-items: center;
}

.contactSupportSection .material-icons {
  vertical-align: middle;
}

.info-container p {
  margin-bottom: 8px;
}

.info-container i.material-icons {
  vertical-align: middle;
  margin-right: 5px;
}

.contact-info {
  padding: 1rem 1rem 0 2rem;
}

.email-link {
  color: #154360;
}

.nav-link:hover {
  color: #0b2a3d;
}

@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  .contact-form-container,
  .info-container {
    padding: 20px;
  }
}
