/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #6ab2d8, #2980b9);
  color: #333;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-5 {
  margin-bottom: 24px;
}

/* Contact Form Styles */
.contact-form-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
}

.form-select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

textarea.form-control {
  resize: vertical;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #4e555b;
  border-color: #4e555b;
}

/* Contact Information Styles */
.info-container {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.myCard {
  padding: 2rem;
}

.contactSupportSection {
  align-items: center;
}

.contactSupportSection .material-icons {
  vertical-align: middle;
}

.contactSupportSection a.btn-secondary {
  margin-left: 20px;
}

.contactSupportSection a.btn-secondary:hover {
  background-color: #4e555b;
  border-color: #4e555b;
}

.info-container p {
  margin-bottom: 8px;
}

.info-container i.material-icons {
  vertical-align: middle;
  margin-right: 5px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  .contact-form-container,
  .info-container {
    padding: 20px;
  }
}
