.search-input {
  background-color: white;
  color: black;
}

.search-button {
  width: 100px;
  background-color: #fff;
}

.search-button:hover {
  background-color: #fff;
}

.search-icon {
  color: rgb(50, 121, 176);
}
